html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: orange;
}

body {
  background-image: url("./blablu/files/bg.jpg");
  background-size: cover; /* l’image couvre tout l’écran */
  background-position: center; /* centrée */
  background-repeat: no-repeat;
}
