html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: Orange;
}

.mafoi {
  position: fixed; /* reste fixe même au scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* couvre toute la zone, garde les proportions */
  z-index: -2; /* derrière tout le reste */
}
